.top {
    cursor: pointer;
    padding: 6px;
    font-size: xxx-large;
}

.margin {
    margin: 80px;
}

.inline {
    display: inline-block;
}

.check {
    cursor: pointer;
    background-color: aquamarine;
    border: 1px solid darkslategrey;
    border-radius: 10px;
    margin: 1px auto;
    width: 12%;
}
