.top {
    color: brown;
    font-weight: bolder;
    cursor: pointer;
    border: 2px dotted black;
    border-radius: 40px;
    padding: 6px;
}

.margin {
    margin: 80px;
}

.inline {
    display: inline-block;
}
button {
    cursor: pointer;
    background-color: aquamarine;
    border: 1px solid darkslategrey;
    border-radius: 10px;
    margin: 1px;
}